@model List<NurseRequest>
@{
    ViewData["Title"] = "Report";
    Pager pager = new Pager();
    int pageNo = 0;
    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h4>ดึงรายงาน</h4>
<form>
        <a class="btn btn-primary" asp-controllers="Poter" asp-action="ExportProductInExcel">Download excel</a>
</form>
<form method="post" enctype="multipart/form-data">
<table class="table">
    <thead>
        <tr>
            <th>เวลาร้องขอ</th>
            <th>QN</th>
            <th>ชื่อ-นามสกุล</th>
            <th>ต้นทาง</th>
            <th>ปลายทาง</th>
            <th>พนักงานเวรเปล</th>
            <th>ประเภทรถ</th>
            <th>ความเร่งด่วน</th>
            <th>สถานะ</th>
            <th>หมายเหตุ</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var nurserequest in Model)
        {
           @if(nurserequest.UrgentType == "ปกติ")
            {
                ViewBag.Title = "background-color:rgb(136, 209, 136);";
            }
         @if(nurserequest.UrgentType == "ด่วน")
            {
                ViewBag.Title = "background-color:rgb(247, 247, 100);";
            }
         @if(nurserequest.UrgentType == "ด่วนมาก")
            {
                ViewBag.Title = "background-color:rgb(240, 114, 114);";
            }
            <tr class="label-warning" style="color:black; @ViewBag.Title">
                    <td>@nurserequest.CreateDate</td>
                    <td>@nurserequest.QN</td>
                    <td>@nurserequest.QNName</td>
                    <td>@nurserequest.StartPoint</td>
                    <td>@nurserequest.EndPoint1</td>
                    <td>@nurserequest.PoterFname</td>
                    <td>@nurserequest.MaterialType</td>
                    <td>@nurserequest.UrgentType</td>
                    <td>@nurserequest.JobStatusName</td>
                    <td>@nurserequest.Remark</td>
                    <td> </td>
            </tr>
          
        }
            
    </tbody>
</table>

<div class="container">
    
    @if (pager.TotalPages > 0)
    {
        
        <ul class ="pagination justify-content-end">
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Poter" asp-action="Report" asp-route-pg="@pge"> @pge</a>
                </li>
            }
        </ul>
    }
</div>

</form>