@model List<NurseRequest>
@{
}


<table class="table">
    <thead>
        <tr>
            <th>QN</th>
            <th>ชื่อ-นามสกุล</th>
            <th>ต้นทาง</th>
            <th>ปลายทาง</th>
            <th>พนักงานเวรเปล</th>
            <th>ประเภทรถ</th>
            <th>ระดับความเร่งด่วน </th>
            <th>สถานะ</th>
            <th>หมายเหตุ</th>
            <th>ยืนยัน</th>
            <th>แก้ไข</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var nurserequest in Model)
        {
            <tr>
                <td>@nurserequest.QN</td>
                <td>@nurserequest.QNName</td>
                <td>@nurserequest.StartPoint</td>
                <td>@nurserequest.EndPoint1</td>
                <td>@nurserequest.PoterFname</td>
                <td>@nurserequest.MaterialType</td>
                <td>@nurserequest.UrgentType</td>
                <td>@nurserequest.JobStatusName</td>
                <td> </td>
                <td>@nurserequest.Remark</td>
                <td> </td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controllers="NurseRequest" asp-action="Edit" asp-route-id="@nurserequest.JobId">Edit</a>
                    <a class="btn btn-warning btn-sm" asp-controllers="NurseRequest" asp-action="EditStatus" asp-route-id="@nurserequest.JobId" onclick="return confirm('Are you sure?')">OK</a>
                    <a class="btn btn-danger btn-sm" asp-controllers="NurseRequest" asp-action="Delete" asp-route-id="@nurserequest.JobId" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>