@model List<NurseRequest>
@{
}

<h4>รายการขอใช้บริการ</h4>

    <div class="col-md-4">
        <form class="d-flex" asp-action="Index" asp-asp-controller="NurseRequest">
            <input name="searchString" class="form-control me-1" type="search" placeholder="ค้นหาแผนกต้นทาง" aria-label="Search">
            <button class="btn btn-dark" type="submit">Search</button>
        </form>
    </div>
    <div>
        <a asp-action="Index" class="text-dark">Back to Full List</a>
    </div>

<form method="post" enctype="multipart/form-data">
<table class="table">
    <thead>
        <tr>
            <th>เวลาร้องขอ</th>
            <th>QN</th>
            <th>ชื่อ-นามสกุล</th>
            <th>ต้นทาง</th>
            <th>ปลายทาง</th>
            <th>พนักงานเวรเปล</th>
            <th>ประเภทรถ</th>
            <th>ระดับความเร่งด่วน </th>
            <th>สถานะ</th>
            <th>หมายเหตุ</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var nurserequest in Model)
        {
           @if(nurserequest.UrgentType == "ปกติ")
            {
                ViewBag.Title = "background-color:rgb(131, 247, 131);";
            }
         @if(nurserequest.UrgentType == "ด่วน")
            {
                ViewBag.Title = "background-color:rgb(247, 247, 100);";
            }
         @if(nurserequest.UrgentType == "ด่วนมาก")
            {
                ViewBag.Title = "background-color:rgb(240, 114, 114);";
            }
        @if(nurserequest.JobStatusName != "สิ้นสุดการทำงาน")
            {

        @if(nurserequest.JobStatusName != "ยกเลิกบริการ")
            {
            <tr class="label-warning" style="color:black; @ViewBag.Title">
                    <td>@nurserequest.CreateDate</td>
                    <td>@nurserequest.QN</td>
                    <td>@nurserequest.QNName</td>
                    <td>@nurserequest.StartPoint</td>
                    <td>@nurserequest.EndPoint1</td>
                    <td>@nurserequest.PoterFname</td>
                    <td>@nurserequest.MaterialType</td>
                    <td>@nurserequest.UrgentType</td>
                    <td>@nurserequest.JobStatusName</td>
                    <td>@nurserequest.Remark</td>
                    <td> </td>
                    <td style="white-space:nowrap">
                        @* <a class="btn btn-danger btn-sm" asp-controllers="NurseRequest" asp-action="Delete" asp-route-id="@nurserequest.JobId" onclick="return confirm('Are you sure?')">Delete</a> *@
                        <a class="btn btn-warning btn-sm" asp-controllers="NurseRequest" asp-action="Edit" asp-route-id="@nurserequest.JobId">Edit</a>
                        <input type="submit" class="btn btn-primary btn-sm" asp-controllers="NurseRequest" asp-action="EditStatus" asp-route-id="@nurserequest.JobId" value="Finish" onclick="return confirm('Job Finish?')" />
                        <input type="submit" class="btn btn-danger btn-sm" asp-controllers="NurseRequest" asp-action="Cancel" asp-route-id="@nurserequest.JobId" value="Cancel"  onclick="return confirm('Are you sure to Cancel?')"/>
                    </td>
                </tr>
                }
                }
            }
        
    </tbody>
</table>
</form>